<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Add the link to the new ripple.css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='ripple.css') }}">
</head>

<body>
    <h1>Weather Information</h1>

    <ol class="weather-list">
        {% for item in data %}
        <li class="weather-item">
            <p><strong>User:</strong> {{ item.User }}</p>
            <p><strong>Temperature:</strong> {{ item.Temperature }}°C</p>
            <p><strong>Current Weather Report:</strong> {{ item['Current Weather Report'] }}</p>
            <p><strong>Weather Report for Upcoming Days:</strong></p>
            <ul class="day-list">
                {% for day in item['Weather Report for Upcoming Days'] %}
                <li><strong>{{ day.day }}:</strong> Conditions: {{ day.conditions }}, Temperature: {{ day.temperature }}°C</li>
                {% endfor %}
            </ul>
            <p><strong>Timestamp:</strong> {{ item.Time }}</p>
        </li>
        {% endfor %}
    </ol>

    <!-- Add the ripple background -->
    <div class="ripple-background">
        <div class="circle xxlarge shade1"></div>
        <div class="circle xlarge shade2"></div>
        <div class="circle large shade3"></div>
        <div class="circle medium shade4"></div>
        <div class="circle small shade5"></div>
    </div>
</body>

</html>
