#headerWrapper {
    display: flex;
    justify-content: center;
}

h1 {
    color: black;
}

form > label {
    width: 100px;
    float: left;
    margin:10px;
}
form input {
    margin: 10px;
}

#formWrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height:80%;
}

form {
    width:30%;
    height:50%;
    padding:3%;
    box-shadow: 0px 0px 20px 1px;
}

button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
}


