<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/enter-data.css') }}">
    </head>
    <body>
        <header id="headerWrapper">
            <h1>Please Enter Your Address</h1>
        </header>
        <div id="formWrapper">
            <form id="myForm">
                <label for="country">Country:</label>
                <input type="text" id="country" name="country"><br>
                <label for="province">Province:</label>
                <input type="text" id="province" name="province"><br>
                <label for="city">City:</label>
                <input type="text" id="city" name="city"><br>
                <label for="street">Street:</label>
                <input type="text" id="street" name="street"><br>
                <label for="postal">Postal:</label>
                <input type="text" id="postal" name="postal"><br>
                <button id="subButton">Submit</button>
            </form>
        </div>
        
        <script src="{{ url_for('static',filename='scripts/enter.js') }}"></script>
    </body>
</html>