<!-- Authentication Page (login.html) -->

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
    </head>
    <body>
        <header id="headerWrapper">
            <h1>Authenticate</h1>
        </header>
        <div id="formWrapper">
            <form id="myForm">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label>
                <input type="text" id="password" name="password"><br>
                <button id="subButton" type="submit">Submit</button>
                <button><a href="http://127.0.0.1:8080/enter" class="button">Enter Data</a></button>
            </form>
        </div>
        <script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
    </body>
</html>
