@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-direction: column;
    max-width: 420px;
    padding: 32px;
    margin: 60px auto;
    border: 1px solid #eee;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    letter-spacing: -0.25px;
}

.weather-list {
    padding-left: 50px;
    list-style: none; /* Remove default numbering */
}

.day-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.weather-item {
    color: #4F4F4F;
    margin-top: 20px; /* Adjusted margin for even spacing */
    position: relative;
    font-size: 16px;
    line-height: 20px;
}

/* Circle for specific items */
.weather-item p strong:before {
    content: '';
    display: inline-block;
    height: 20px; /* Adjust size as needed */
    width: 20px; /* Adjust size as needed */
    border-radius: 50%;
    border: 2px solid #ddd;
    margin-right: 10px; /* Adjust space between circle and text */
    position: relative;
    top: 4px; /* Adjust the vertical position */
    
}

/* Random colors for circles with borders */
.weather-item p strong:nth-child(1):before {
    border-color: red; /* User */
}

.weather-item p strong:nth-child(2):before {
    border-color: blue; /* Temperature */
}

.weather-item p strong:nth-child(3):before {
    border-color: #5733FF; /* Current Weather Report */
}

.weather-item p strong:nth-child(4):before {
    border-color: #FF5733; /* Weather Report for Upcoming Days */
}

.weather-item p strong:nth-child(5):before {
    border-color: #33FF57; /* Timestamp */
}
